.social{
	text-align: center;
}

.social__header{
	font-size: 1.8rem;
	color: #5A1378;
	letter-spacing: 0.05rem;
	line-height: 1.4rem;
	margin-bottom: 25px;
}
@media(max-width: 600px){
	.social__header{
		font-size: 1.6rem;
	}
}
.big{
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
	width: 225px;
	height: 39px;
	display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.big__element a{
	display: block;
	width: 39px;
	height: 39px;
	font-size: 0;
	background-image: url(./images/social--sprite__2.png);
	background-size: auto 100%;
}
.big__element:nth-of-type(1) a{
	background-position-x: 0px;
}
.big__element:nth-of-type(2) a{
	background-position-x: -66px;
}
.big__element:nth-of-type(3) a{
	background-position-x: -128px;
}
.big__element:nth-of-type(4) a{
	background-position-x: 100%;
}
