@font-face {
  font-family: Klavika;
  src: url("fonts/Klavika Regular Plain.otf") format("opentype");
}

@font-face {
  font-family: Klavika Light;
  src: url("fonts/Klavika Light.otf") format("opentype");
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden !important;
  /* padding-top: 68px; */
  font-size: .875rem;
}

nav {
  box-shadow: 0 1px 10px #333;
  /* height: 80px; */
  background-color: #fff;
}

section {
  overflow-x: hidden;
}

.navbar {
  padding: .4rem 0;
}

.navbar-brand {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  /* width: 150px; */
  /*width: 120px;*/
  width: 100px;
}

.navbar-nav {
  margin-right: 15px;
}

/* .navbar-expand-lg>.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
} */

.navbar-collapse {
  background-color: #fff;
}

.navbar-nav .nav-link {
  color: #1f1f1f;
  border-radius: 30px;
  transition: .25s;
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-nav .nav-link.login-link {
  color: #FFC507;
  font-weight: 700;
  border: 2px solid #FFC507;
}

.nav-item.active .nav-link, .nav-item:hover .nav-link {
  color: #3819A0;
  font-weight: 700;
  background-color: #FFC507;
  border-radius: 30px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
}

section#solutions {
  /* padding-top: 68px; */
}

section#solutions .teaser {
  margin-top: 15px;
}

section#solutions .teaser, section#solutions .main-text {
  margin-bottom: 15px;
}

.owl-carousel-solutions {
  min-height: 100vh;
}

/* .owl-carousel-solutions .owl-stage-outer,
.owl-carousel-solutions .owl-stage-outer .owl-stage, */

.owl-carousel-solutions .owl-stage-outer .owl-stage .owl-item {
  min-height: 100vh;
  /* margin-left: -1px; */
}

.owl-carousel-solutions .owl-stage-outer .owl-stage .owl-item:nth-child(1) {
  /* display: flex; align-items: center; */
}

/* section#platform .container {
  padding-top: 115px;
  padding-bottom: 102px;
} */

#platform-new .main-text {
  color: #fff;
}

#platform-new h2.section-title {
  text-transform: capitalize;
}

#platform-new .col-md-6:nth-child(1) {
  background-color:#3819A0;
}

#platform-new .col-md-6:nth-child(1) .main-text {
  font-size: 13px;
  line-height: 1.3;
}

#platform-new .container {
  min-height: 100vh;
}

.platform-new-left-bg {
  background-color: #3819A0;
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
}

.dark {
  color: #1F1F1F;
}

.scrollable-content-number {
  font-size: 16px;
  font-weight: bold;
  color: #3819A0;
  text-transform: uppercase;
  white-space: nowrap;
}

.scrollable-content-wrapper {
  padding-right: 25px;
  padding-left: 25px;
  /* margin-bottom: 10px; */
}

.scrollable-content-item ul {
  margin-bottom: 0; 
}

.scrollable-content-item {
  display: flex;
  /* margin-bottom: 30px; */
}

.scrollable-content-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.scrollable-content-teaser {
  margin-bottom: 20px;
}

.owl-item .item {
  margin-left: 1px !important;
}

.owl-inside-owl .main-text b i {
  margin-top: 30px;
  display: block;
}

.owl-inside-owl .main-subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.owl-inside-owl .owl-stage-outer,
.owl-inside-owl .owl-stage-outer .owl-stage,
.owl-inside-owl .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}

.owl-inside-owl .owl-carousel .owl-stage {
  height: 100%;
}
.owl-inside-owl .owl-item {
  padding-left: 30px;
  padding-right: 15px;
}

.owl-inside-owl .owl-item>div {
  height: 100%;
  padding-right: 5px;
  padding-right: 5%;
}

.owl-inside-owl .owl-nav {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: none;
  /* top: 240px; */
}

.owl-inside-owl .owl-nav .disabled{
    /* display: none !important; */
  
}

.owl-inside-owl .owl-nav img {
  width: 32px !important;
}

.owl-nav img:hover,
.owl-carousel-news-navs img:hover {
  /* width: 3px !important; */
  /* filter: saturate(10);  */
  /* filter: grayscale(100%); */
  filter: contrast(130%);
}

section#faq {
  background-image: url("img/faq-bg.png");
  align-items: normal;
  /* padding-top: 150px;
  padding-bottom: 80px; */
}

section#faq h2, section#company h2 {
  /* margin-bottom: 55px; */
}

section#company .teaser {
  margin-bottom: 15px;
}

section#company .main-text:not(:last-child) {
  margin-bottom: 15px;
}

section#company {
  padding-top: 100px;
  /* padding-bottom: 250px; */
  align-items: flex-start;
}

section#company .col-md-5 {
  /* padding-top: 150px; */
}

section#company .col-md-6:nth-child(2) {
  color: #fff;
}

.company-wrapper {
  position: absolute;
  top: 100px;
  /* transform: translateY(-50%); */
}

.company-bg {
  position: absolute;
  background-image: url("img/company-bg.png");
  background-repeat: no-repeat;
  /* background-position-x: 15px; */
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.company-bg-mobile {
  position: absolute;
  background-image: url("img/company-bg.png");
  bottom: 0;
  width: 100%;
}

.company-description {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
#company .company-description{
  text-transform: inherit;
}

.company-row .col-sm-4 {
  text-align: center;
  margin-bottom: 30px;
}

.company-row .col-sm-4 img {
  margin-bottom: 14px;
}

.company-name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.company-position {
  font-size: 12px;
}

/* #solutions .col-md-5 {
  padding-top: 60px;
  padding-bottom: 80px;
} */

#how-it-works {
  flex-flow: column;
  overflow: hidden;
  /* justify-content: center; */
}

#how-it-works .teaser {
  margin-bottom: 15px;
}

#solutions .container, #platform .container, #company .container {
  height: 100%;
  display: flex;
}

#platform ul {
  padding-inline-start: 20px;
}

#platform ul li {
  margin-bottom: 10px;
}

#solutions .container {
  display: block;
}

#solutions .row, .platform-wrapper, .company-main-row {
  margin: auto 0;
}

.solutions-slide-1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
  min-height: 100vh;
  padding-right: 30px;
  padding-left: 15px;
}

/*#solutions .col-md-7*/

.solutions-bg, .solutions-slide-2 {
  /* position: absolute; */
  background-image: url("img/solutions-bg.png");
  background-repeat: no-repeat;
  /* background-position-x: 15px; */
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  /* left: 0; */
}

.solutions-slide-2 {
  /* margin-left: -1px; */
}

.icons-grid-item,
.to-product {
  z-index: 9;
}

.platform-block {
  border: #EFEAF6 solid;
  border-top-width: 40px;
  border-bottom-width: 40px;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 15px;

  /* display: flex; */
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;

}

.owl-nav button:hover {
  background-color: transparent !important;
}

.platform-block-item {
  background-color: #FFC507;
  flex: 1;
  margin-bottom: 5px;
  margin-top: 5px;
  /* margin-left: 5px;
  margin-right: 5px; */
}

.plan-phone {
  border: 8px #FFC507 solid;
  border-top-width: 40px;
  border-bottom-width: 40px;
  border-radius: 15px;
  font-family:Klavika;width:130px;background-color:#3819A0;
}

.plan-phone-inner {
  font-size:12px;line-height:1;text-align:center;padding:10px;height:100%;display:flex;flex-flow:column;justify-content:space-around;
}

.plan-phone-inner-item:nth-child(1) {
  display:flex;align-items:center;flex:1;margin-bottom:5px;padding:8px;background-color:#EFEAF6;
}
.plan-phone-inner-item:nth-child(2) {
  display:flex;align-items:center;flex:1;margin-bottom:5px;margin-top:5px;padding:8px;background-color:#EFEAF6;
}
.plan-phone-inner-item:nth-child(3) {
  display:flex;align-items:center;margin-top:5px;flex:1;padding:8px;background-color:#EFEAF6;}

.icons-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 31px;
}

.yellow-grid div img {
  margin: auto;
  height: 50%;
}

.icons-flex-wrapper {
  /* height: 100%; */
  height: 100vh;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icons-flex {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  position: relative;
}

.icon-flex-logo {
  position: absolute;
  left: -30px;
  top: 46%;
  transform: translateY(-50%);
  /* -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%); */
}

.icons-flex-row-1,
.icons-flex-row-2,
.icons-flex-row-3,
.icons-flex-row-4 {
  display: flex;
}



section#integrate {
  position: relative;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;
}

.integrate-carousel {
  width: 100%;
  height: 100%;
}

.integrate-wrapper {
  width: 100%;
}

section#integrate .teaser, section#integrate .main-text {
  margin-bottom: 15px;
}

section#integrate .main-text:nth-child(1) {
  margin-top: 15px;
}

/* section#integrate .integrate-top {
  padding-top: 150px;
} */

section#contact-us {
  flex-flow: column;
  justify-content: center;
}

section#integrate .integrate-bottom-wrapper {
  /* background-image: url("img/integrate-bg.png"); */
  /* padding-bottom: 170px; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#integrate-new .col-md-6:nth-child(1) .main-text {
  color: #fff;
}

.integrate-links .scrollable-content-wrapper {
  margin-bottom: 15px;
}

#integrate-new .col-md-6 .main-text {
  margin-bottom: 15px;
}

/* #integrate-new .col-md-6 .main-text:nth-child(1) {
  font-weight: 700;
  margin-bottom: 45px;
} */

.main-text-first {
  font-weight: 700;
  margin-bottom: 45px !important;

}

.integrate-carousel .main-text {
  color: #fff;
}

.integrate-carousel .owl-stage-outer,
.integrate-carousel .owl-stage-outer .owl-stage,
.integrate-carousel .owl-stage-outer .owl-stage .owl-item {
  min-height: 100vh;
}

.integrate-new-left-bg {
  background-image: url("img/integrate-bg.png");
  width: 50%;
  /* height: 100%; */
  height: 100%;
  position: absolute;
  bottom: 0;
}

.integrate-bottom-bg {
  background-image: url("img/integrate-bg.png");
  width: 100%;
  /* height: 100%; */
  height: 60%;
  position: absolute;
  bottom: 0;
}

section#integrate .integrate-bottom .main-text {
  color: #fff
}

.integrate-subtitle {
  color: #FFC507;
  text-transform: uppercase;
}

a.integrate-link {
  color: #fff;
}

.integrate-navs {
  display: none !important;
}

/* section#news .container {
  padding-top: 150px;
  padding-bottom: 115px;
} */

/* .arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid #FFC507;
} */

h1.main-title {
  font-family: Klavika;
  color: #3819A0;
}

h1.main-title span {
  display: block;
}

h1.main-title span:nth-child(1) {
  text-transform: uppercase;
  /* font-size: 102px; */
  font-size: 60px;
}

h1.main-title span:nth-child(2) {
  font-size: 42px;
  letter-spacing: 0.05em;
  margin-top: -11px;
}

h2.section-title {
  font-family: Klavika;
  font-size: 42px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 30px;
  word-spacing: 8px;
}

h2.section-title.white {
  color: #fff;
}

h2.section-title.blue {
  color: #3819A0;
}

.teaser {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #3819A0;
}

.main-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #1f1f1f;
}

.solutions-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.form-control {
  border-radius: 3px;
  font-size: 14px;
  height: auto;
  padding: 8px 12px;
}

::placeholder {
  color: #3819A0 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #3819A0 !important;
}

::-ms-input-placeholder {
  color: #3819A0 !important;
}

button:focus, .btn:focus, .btn:active, .form-control:focus {
  outline: none !important;
  box-shadow: none;
}

.btn-main {
  border-radius: 30px;
  border: 2px solid #FFC507;
  background-color: #FFC507;
  color: #3819A0 !important;
  font-weight: 700;
  font-size: 14px;
  padding: 6px 18px;
  white-space: nowrap;
}

.btn-main:hover {
  color: #FFC507 !important;
  background-color: transparent;
}

.btn-rm {
  text-transform: uppercase;
  padding: 6px 36px !important;
}

.download-app {
  font-size: 14px;
  text-transform: uppercase;
  color: #3819A0;
  font-weight: 700;
  display: flex;
  flex-flow: column;
  /* padding-right: 60px; */
}

.download-app-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin: auto;
}

.download-app img {
  width: 32px;
}

.platform-bg {
  background-image: url("img/platform-bg.png");
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: -1;
  top: 0;
}

.news-bg {
  background-image: url("img/news-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 60%;
  z-index: -1;
  top: 0;
}

#platform .col-md-4 {
  position: relative;
}

.news-header img {
  width: 100%;
}

.benefits-item, .news-item {
  height: 100%;
  display: flex;
  flex-flow: column;
  transition: .25s;
}

.benefits-item:hover {
  margin-top: -15px;
}

.benefits-title {
  font-family: Klavika;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  background-color: #4A21D5;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.benefits-content, .news-content {
  color: #3819A0;
  font-size: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 15px;
  flex: 1;
}

/* .owl-carousel-news .owl-stage-outer {
  overflow: visible !important;
} */

.owl-carousel-news .owl-stage {
  display: flex;
  flex-flow: row;
  margin-top: 15px;
  margin-bottom: 15px;
}

.owl-carousel-news-navs,
.owl-carousel-benefits-navs,
.owl-carousel-how-navs {
  display: flex;
}

.owl-carousel-news-navs img,
.owl-carousel-benefits-navs img,
.owl-carousel-how-navs img {
  height: 32px;
  cursor: pointer;
  margin: 5px;
}

/* .owl-carousel-news-navs img:nth-child(1) {
  margin-right: 5px;
} */

.owl-carousel-news .owl-stage .owl-item {
  display: flex;
  transition: .25s;
}

.owl-carousel-news .owl-stage .owl-item:hover {
  margin-top: -15px;
  margin-bottom: 15px;
}

.news-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.news-date {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.news-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* .news-main {
  padding-bottom: 50px;
} */

.news-teaser {
  margin-bottom: 15px;
}

.news-button {
  text-align: right;
}

.benefits-content div:not(:last-child) {
  margin-bottom: 15px;
}

.accordion .card-body {
  max-height: 260px;
  overflow-y: scroll;
}

.accordion .card-header button {
  display: flex;
  align-items: center;
}

.accordion .card-header img {
  margin-right: 10px;
  height: 22px;
}

.bull {
  text-align: center;
  /* position: relative; */
}

#platform-new .scrollable-content-bordered {
 border-left: 1.2px solid #3819A0;
 margin-left: -30.1px;
    padding-left: 30px;
    padding-bottom: 20px;
}
#how-it-works-new .scrollable-content-bordered {
  border-left: 1.2px solid #3819A0;
  margin-left: -52.1px;
     padding-left: 52px;
     padding-bottom: 20px;
 }
/* #platform-new .scrollable-content-wrapper:after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  top: 0;
  left: 100px;
} */

.who-benefits-carousel .owl-stage {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row;
}

.lines1 {
  border: 1px solid transparent;
  border-left-color: #7e7b7b;
  border-right-color: #7e7b7b;
  width: 80%;
  height: 60px;
  top: -50px;
  position: absolute;
  left: 50%;transform: translate(-50%, 0);
}

.lines2 {
  border: 1px solid transparent;
  border-right-color: #7e7b7b;
  border-top-color: #7e7b7b;
  width: 60%;
  height: 60px;
  top: -20px;
  position: absolute;
  left: 60%;transform: translate(-60%, 0);
}

.lines3 {
  border: 1px solid transparent;
  border-left-color: #7e7b7b;
  /* border-top-color: #7e7b7b; */
  width: 60%;
  height: 31px;
  top: -50px;
  position: absolute;
  left: 60%;transform: translate(-60%, 0);
}

.who-benefits-carousel .benefits-item {
  height: 100%;
}

.how-it-works-carousel-wrapper {
  /* position: relative; */
  width: 100%;
}

.how-it-works-carousel-wrapper .container {
  margin-top: 15px;
  padding-top: 15px;
  /* background-image: url("img/hiw-bg.png"); */
  /* min-height: 500px; */
}

#how-it-works-new .col-md-6:nth-child(1) .main-text {
  color: #fff;
  /* margin-bottom: 15px; */
}

#how-it-works-new .main-text {
  /* color: #fff; */
  margin-bottom: 15px;
}

#how-it-works-new .main-text span {
  /* color: #fff; */
  /* margin-bottom: 15px; */
  font-weight: 700;
  font-style: italic;
}

.how-it-works-new-left-bg {
  /* background-image: url("img/hiw-bg.png"); */
  background-color: #000;
  /* background-image: linear-gradient(#2065ff,#2065ff); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

.how-it-works-new-left-bg-over {
  /* background-image: url("img/hiw-bg.png"); */
  /* background-color: #2065ff; */
  background-image: linear-gradient(#3819A0,#3819A0);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  position: absolute;
  /* z-index: -1; */
  opacity: .8;
}

#videoContainer {
  width:100%;
  height:100vh;
  position:relative;
  overflow: hidden;
}

#video {
  position:absolute; 
  /* width:100%; */
  height: 100vh;
  /* top: 50%; */
  left: -50%;
  /* transform: translateY(-50%); */
}

#videoModal .modal-dialog {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  position: static;
}

.close-video-modal {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  color: #EFEAF6;
  z-index: 9999;
}

.how-it-works-carousel-bg {
  background-image: url("img/hiw-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

.how-it-works-carousel {
  color: #fff;
}

.how-it-works-carousel-slide {
  padding-right: 30px;
}

.how-it-works-carousel .owl-stage-outer {
  margin-right: 1px;
}

.how-it-works-carousel-slide .slide-header {
  display: flex;
  /* flex-basis: 30px; */
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
}

.how-it-works-carousel-slide .slide-header div:nth-child(1) {
min-width: 30px;
/* flex: 30px; */
}

.how-it-works-carousel-slide .slide-header div:nth-child(1) span {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1.5px solid #fff; 
  text-align: center;
   /* color: #666; */
  /* font: 32px Arial, sans-serif; */
    /* padding: 8px; */
  /* background: #fff; */
}

.how-it-works-carousel-slide .slide-content {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 25px 20px;
  font-size: 13px;
  /* opacity: .7; */
}

.how-it-works-carousel-slide .slide-content div:nth-child(2) {
  margin-bottom: 25px;
}
.slide-content-subtitle {
  /* opacity: 1 !important; */
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.slide-content-text {
  opacity: .7;
}

.accordion .card {
  border: none;
  background-color: transparent;
  color: #fff;
}

.accordion .card .btn {
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.accordion .card .card-header {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  background-color: transparent;
  border: none;
}

.accordion .card .card-body {
  padding: 0;
  padding-bottom: 15px;
  font-size: 14px;
  /* line-height: 20px; */
  letter-spacing: 0.03em;
}

#contact-us {
  padding-top: 80px;
  padding-bottom: 15px;
  background: url("img/contact-bg.png");
  background-size: cover;
  width: 100%;
}

.contact-top {
  padding-top: 80px;
  padding-bottom: 15px;
  background: url("img/contact-bg.png");
  background-size: cover;
  width: 100%;
}

.contact-bottom {
  width: 100%;
  flex: 1;
}

.contacts {
  font-size: 14px;
  color: #fff;
}

.contacts a {
  color: #fff;
  text-decoration: none;
}

.contacts-item {
  margin-bottom: 15px;
}

.contacts-item, .contacts-item a {
  display: flex;
}

.contacts-item a {
  align-items: center;
}

.contacts-item img {
  margin-right: 10px;
  width: 24px;
}

.contacts-form-text {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.03em;
  width: 70%;
  margin-bottom: 1rem;
}

.contacts-form .btn {
  text-transform: uppercase;
}

.contacts-form-row .col-md-4:last-child .form-group {
  padding-bottom: 1rem;
}

.contacts-form-row .col-md-4:last-child .form-group, .contacts-form-row .col-md-4:last-child .form-group textarea {
  height: 100%;
}

.map {
  width: 100%;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important
}

a[href^="https://maps.google.com/maps"] {
  display: none !important
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

.footer {
  /* height: 60px; */
  text-align: center;
  font-size: 14px;
  color: #3819A0;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
}

.footer .col-sm-6 {
  height: 60px;
}

.footer-copy, .footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-bg {
  position: absolute;
  background-color: #3819A0;
  width: 100%;
  height: 60px !important;
  /* right: 0; */
  bottom: 0;
}

.footer-social a:not(:last-child) {
  margin-right: 23px;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.close-product-info {
  
  /* width: 32px !important; */
  width: 100%;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 2;
  height: 115px;
  padding-right: 15px;
  /* display: flex; */
  display: none;
  align-items: flex-end;
  justify-content: flex-end;
  /* background-color: #fff; */
}

.close-product-info img {
  cursor: pointer;
  width: 32px !important;
  height: 32px;
  /* float: right; */
}

.modal-body {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.modal-body>div:not(:last-child) {
  margin-bottom: 15px;
}

.modal-dialog {
  max-width: none;
    margin: 1.75rem;
}

.modal-content {
  border-radius: 0;
}

/* .modal-open .modal {
  padding-right: 0 !important;
}

.modal-dialog {
  max-width: none;
  margin: 0;
  height: 100%
} */

/* .modal-content {
  
} */

/* .modal-body {
  display: flex;
}

.modal-body .container {
  margin: auto;
}

.modal-body .col-md-5 {
  position: static;
}

.modal-content {
  height: 100%;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border: none;
}

.modal-content .teaser, .modal-content .main-text:not(:last-child) {
  margin-bottom: 15px;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal-bg {
  position: absolute;
  background-image: url("img/modal-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
  left: 0;
} */

button.close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
  opacity: 1;
}

button.close img {
  width: 32px;
}

h2.products-title {
  text-transform: none;
}

.to-product {
  width: 90px;
  height: 90px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.to-product img {
  transition: all .3s ease;
  height: 40px;
  width: auto !important;
  align-self: center;
}

.to-product:hover img,
.to-product img.product-img-active {
  /*height: 50px;*/
  transform: scale(1.15);
  /*filter: opacity(100%);*/
}

.to-product-geo img {
  height: 50px;
  margin-top: -5px;
}
.to-product-geo:hover img,
.to-product-geo img.product-img-active {
  /*height: 60px;*/
  transform: scale(1.15);
}

.to-product-quiz img {
  height: 45px;
  margin-top: -5px;
}
.to-product-quiz:hover img,
.to-product-quiz img.product-img-active {
  /*height: 55px;*/
  transform: scale(1.15);
}

.to-product-vote img {
  height: 45px;
  margin-top: -5px;
}
.to-product-vote:hover img,
.to-product-vote img.product-img-active {
  /*height: 55px;*/
  transform: scale(1.15);
}

.to-product-music img {
  height: 50px;
  margin-top: -8px;
}
.to-product-music:hover img,
.to-product-music img.product-img-active {
  /*height: 60px;*/
  transform: scale(1.15);
}

.to-product-show img {
  height: 50px;
  margin-top: -8px;
}
.to-product-show:hover img,
.to-product-show img.product-img-active {
  /*height: 60px;*/
  transform: scale(1.15);
}

.to-product-broadcast,
.to-product-digital,
.to-product-geo {
  position: relative;
}

/* .to-product-broadcast:before {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 3px solid green;
  z-index: -1;
  width: 80px;
} */

.to-product-broadcast:after {
  content:url(img/products-icons/line1.png);
  position: absolute;
  /* bottom: 0; */
  top: 15%;
  left: 75px;
  right: 0;
  /* height: 0.5em; */
  /* border-top: 1px solid #a2793b; */
  z-index: -1;
  /* width: 50px; */
}

.to-product-digital:after {
  content:url(img/products-icons/line2.png);
  position: absolute;
  /* bottom: 0; */
  top: 15%;
  left: 75px;
  right: 0;
  /* height: 0.5em; */
  /* border-top: 1px solid #a2793b; */
  z-index: -1;
  /* width: 50px; */
}

.to-product-geo:after {
  content:url(img/products-icons/line3.png);
  position: absolute;
  /* bottom: 0; */
  top: 15%;
  left: 66px;
  right: 0;
  /* height: 0.5em; */
  /* border-top: 1px solid #a2793b; */
  z-index: -1;
  /* width: 50px; */
}

.product-img-inactive { filter: opacity(50%); }
/* .product-img-inactive:hover { filter: opacity(100%); } */

.product-name {
  font-family: Klavika Light;
  color: #fff;
  line-height: 18px;
  text-align: center;
}

.scrollable-content {
  margin-top: 130px;padding-right:3px;height: calc(100% - 210px);
}

.accordion .card-body::-webkit-scrollbar {
  width: 0;
}

.scrollable-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0); 
  /* border-radius: 10px; */
}

.scrollable-content::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0); 
}

/* .speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}


.speech-bubble-ds {
  background: #efefef;
  border: 1px solid #a7a7a7;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;
}

.speech-bubble-ds p {
  margin-bottom: 10px;
}
.speech-bubble-ds p:last-of-type {
  margin-bottom: 0;
}

.speech-bubble-ds-arrow {
  border-left: 21px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.2);
  bottom: -25px;
  position: absolute;
  right: 15px;
}
.speech-bubble-ds-arrow::before {
  border-left: 23px solid transparent;
  border-top: 23px solid #a7a7a7;
  bottom: 2px;
  content: "";
  position: absolute;
  right: 5px;
}
.speech-bubble-ds-arrow::after {
  border-left: 21px solid transparent;
  border-top: 21px solid #efefef;
  bottom: 4px;
  content: "";
  position: absolute;
  right: 6px;
} */

#faqAccordionLeft .card-body {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 25px 20px;
  margin-bottom: 25px;
  position: relative;
}

#faqAccordionLeft .card-body:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}



/* .scrollable-content::-webkit-scrollbar {
  width: 10px;
}

.scrollable-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */

.scrollable-content::-webkit-scrollbar,
.scrollable-content-new::-webkit-scrollbar {
  width: 10px;
}

.scrollable-content::-webkit-scrollbar-track,
.scrollable-content-new::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb,
.scrollable-content-new::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  /*background-color: #3819A0;*/
  background-color: #d6d6d6;
}

.sol-cloud {
  position: absolute;
  color: #3819A0;
  background-color: #fff;
  text-transform: uppercase;
  padding: 8px 20px;
  font-weight: 700;
  border-radius: 3px;
  z-index: 9;
  line-height: 1.3;
  font-size: 12px;
}

.adv-cloud {
  cursor: pointer;
  top: 86px;
  left: -53px;
  transition: .25s;
}


.adv-cloud:hover {
  background-color: #cdcdcd;
}

.adv-cloud:hover:after {
  border-top-color: #cdcdcd;
}

/* .speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
} */

.adv-cloud:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	border-right: 0;
	margin-left: 20px;
  margin-bottom: -15px;
  transition: .25s;
}

.adv-cloud-active {
  /* cursor: pointer;
  top: 86px;
  left: -53px;
  transition: .25s; */
  padding: 12px 22px;
  top: 76px;
  left: -66px;
  font-size: 14px;
}

/* .adv-cloud:after:hover {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
} */

.aud-cloud {
  top: 130px;
  left: 102px;
}

.aud-cloud:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -41px;
  margin-bottom: -15px;
}

.audm-cloud {
  top: 306px;
  left: -88px;
  /* left: 90px; */
}

.audm-cloud:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	border-right: 0;
	margin-left: 26px;
	margin-top: -15px;
}

.icons-flex-wrapper {
  padding-right: 55px;
}

.solutions-slide-3 .owl-item {
  padding-left: 55px;
}

#platform-new .col-md-6:nth-child(1),
#how-it-works-new .col-md-6:nth-child(1),
#company .col-md-6:nth-child(1),
#integrate-new .col-md-6:nth-child(1) {
  padding-right: 55px;
}

#platform-new .col-md-6:nth-child(2),
#how-it-works-new .col-md-6:nth-child(2),
#integrate-new .col-md-6:nth-child(2) {
  padding-left: 55px;
}

/* MIN */

@media (min-width: 576px) {
  .footer div {
    height: 100%;
  }
  .footer-social-bg {
    /* position: absolute; */
    /* background-color: #3819A0; */
    width: calc(50% - 15px);
    height: 60px !important;
    right: 0;
  }
}

@media (min-width: 768px) {
  section#company .col-md-6:nth-child(2) {
    position: static;
    /* background-image: url("img/company-bg.png");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-size: cover; */
    padding-left: 0;
  }
  .company-wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
  #solutions .col-md-7 {
    position: static;
  }

  .company-bg-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  /* nav {
    height: 80px;
  } */
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: .2rem 1.3rem;
  }
  .nav-item:not(:last-child) {
    margin-right: 5px;
  }
  .download-app {
    padding-right: 60px;
  }
  .contacts-form-wrapper {
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  /* nav {
    height: 105px;
  } */
  /* section#solutions {
    margin-top: 105px;
  } */

.container {
    max-width: 1240px;
}
}

@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 22px;
    /* padding: .3rem 1.3rem; */
  }
  h1.main-title span:nth-child(1) {
    font-size: 102px;
  }
  h1.main-title span:nth-child(2) {
    font-size: 72px;
  }
}

/* MAX */

@media (max-width: 767.98px) {
  #platform .col-md-4:not(:last-child), #news .col-md-4:not(:last-child) {
    margin-bottom: 15px;
  }
  .company-bg {
    display: none;
  }
  #company .col-md-6:nth-child(2) {
    padding-top: 30px;
  }
}

.navbar-nav .nav-item {
  text-align: center;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    /* box-shadow: 0 10px 10px -10px #333; */
    /* margin-top: 10px; */
    /* padding-bottom: 10px; */
  }
  .navbar-nav {
    margin-left: 15px !important;
  }

  .navbar-nav .nav-item:not(:last-child) {
    /* text-align: center; */
    margin-bottom: 5px;
  }
  .navbar-nav .nav-item:nth-child(1) {
    margin-top: 10px;
  }
  .navbar-nav .nav-item:last-child {
    margin-bottom: 10px;
  }
  .solutions-btns {
    flex-flow: column;
  }
  .solutions-btns>div:nth-child(1) {
    margin-bottom: 15px;
  }
  .map-wrapper {
    padding-top: 15px;
  }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1919.98px) and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    /* font-size: 14px; */
    padding: .2rem .75rem;
  }
}

@media (max-width: 1919.98px) and (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    /* font-size: 14px; */
    /* padding: .3rem .75rem; */
    padding: .2rem 1.2rem;
  }
}