@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 22px;
    /* padding: .3rem 1.3rem; */
  }
  h1.main-title span:nth-child(1) {
    font-size: 102px;
  }
  h1.main-title span:nth-child(2) {
    font-size: 72px;
  }
  h2.section-title {
    font-size: 69px;
  }
  .teaser {
    font-size: 24px;
  }
  .main-text {
    font-size: 24px;
  }
  .btn-main {
    font-size: 22px;
  }
  .benefits-title {
    font-size: 48px;
    line-height: 52px;
  }
  .accordion .card .btn {
    font-size: 22px;
  }
  .accordion .card-header img {
    height: 32px;
  }
  .accordion .card .card-body {
    font-size: 23px;
    line-height: 32px;
  }
  .company-description {
    font-size: 22px;
  }
  .company-name {
    font-size: 18px;
  }  
  .company-position {
    font-size: 14px;
  }
  .contacts {
    font-size: 24px;
  }
}