.feedback{
	padding-top: 60px;
}
.feedback__h1{
	text-align: center;
	font-size: 1.8rem;
	color: #5A1478;
	letter-spacing: 0.05rem;
	line-height: 1;
	margin-bottom: 20px;
}
.form{
	width: 445px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

@media(max-width: 445px){
	.form{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.form__btn{
	position: relative;
	background-color: #883BBB;
	color: #fff;
	border: 1px solid;
	border-color: #C699D9;
	border-radius: 100px;
	width: 260px;
	height: 50px;
	width: 190px;
	text-align: center;
	line-height: 5rem;
	font-size: 1.8rem;
	background-color: rgba(255, 255, 255, 0);
	background-color: #009034;
	border: none;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0;
	transition: border-color 0.3s, background-color 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  display: block;
}
.form__block{
	position: relative;
	margin-bottom: 10px;
	display: block;
}
.form__block__help{
	display: block;
	padding-left: 11px;
	padding-top: 3px;
	font-size: 1.5rem;
	font-weight: 400;
	color: red;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s ease-in;
}
/*error*/
.form__error .form__block__help{
	max-height: 25px
}
.form__error .form__input{
	border-bottom-color: red;
	border-left-color: red;
}
.form__error .form__textarea{
	border-bottom-color: red;
	border-left-color: red;
}
.form__error .form__checkbox{
	border-bottom-color: none;
	border-left-color: none;
}
/*accept*/
.form__accept .form__input{
	border-bottom-color: #009034;
	border-left-color: #009034;
}
.form__accept .form__textarea{
	border-bottom-color: #009034;
	border-left-color: #009034;
}
.form__accept .form__checkbox{
	border-bottom-color: none;
	border-left-color: none;
}
/*all*/
.form__input:focus{
	outline: none;
}
.form__textarea:focus{
	outline: none;
}
.form__input{
	width: 100%;
	height: 40px;
	border: 1px solid #E7E7E7;
	padding-left: 10px;
	color: #C9C9C9;
	font-size: 1.6rem;
}
.form__textarea{
	width: 100%;
	height: 100px;
	border: 1px solid #E7E7E7;
	color: #C9C9C9;
	font-size: 1.6rem;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 100%;
	min-width: 100%;
	max-height: 100px;
	min-height: 100px;
	resize: none;
}
.form__checkbox{
	margin-right: 5px;
	vertical-align: unset;
}
.form__label.form__block{
	margin-bottom: 15px;
}
.form__label{
	font-size: 1.6rem;
	display: block;
	display: inline-block;
	color: #C9C9C9;
	margin-bottom: 0px;
}
.form__out{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px solid #E7E7E7;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	visibility: hidden;
	transition: visibility 1s ease-in;
	z-index: -1;
}
.form__out_active{
	z-index: 1;
	display: flex;
	visibility: visible;
	transition: visibility 1s ease-out;
}
.form__out h2{
	font-size: 3rem;
  text-transform: uppercase;
  color: #0a9034;
  margin-bottom: 15px;
}
.form__out p{
	font-size: 1.8rem;
  font-weight: 400;
}
